@font-face {
  font-family: "RNSSanz-ExtraBold";
  src:url("fonts/RNS_Sanz-EOT/RNSSanz-ExtraBold.eot");
  src:
  url("fonts/RNS_Sanz-TTF/RNSSanz-ExtraBold.ttf") format("truetype"),
  url("fonts/RNS_Sanz-WOFF/RNSSanz-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "RNSSanz-Medium";
  src:url("fonts/RNS_Sanz-EOT/RNSSanz-Medium.eot");
  src:
  url("fonts/RNS_Sanz-TTF/RNSSanz-Medium.ttf") format("truetype"),
  url("fonts/RNS_Sanz-WOFF/RNSSanz-Medium.woff") format("woff");
}

@font-face {
  font-family: "RNSSanz-Bold";
  src:url("fonts/RNS_Sanz-EOT/RNSSanz-Bold.eot");
  src:
  url("fonts/RNS_Sanz-TTF/RNSSanz-Bold.ttf") format("truetype"),
  url("fonts/RNS_Sanz-WOFF/RNSSanz-Bold.woff") format("woff");
}

@font-face {
  font-family: "RNSSanz-Bold";
  src:url("fonts/RNS_Sanz-EOT/RNSSanz-Bold.eot");
  src:
  url("fonts/RNS_Sanz-TTF/RNSSanz-Bold.ttf") format("truetype"),
  url("fonts/RNS_Sanz-WOFF/RNSSanz-Bold.woff") format("woff");
}

@keyframes fade-in {
    from {opacity: 0; transform: scale(.9,.9)}
    to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in 1.3s;
}

.hidden {
  opacity: 0;
}



body {
  background-color: #030303;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}


.click-button:focus {outline:0;}

.click-button {
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.4em;
  color: #565656;
  border: none;
  cursor: pointer;
  width: 100%;
  background: #FFC823;
  padding: 3%;
  border-radius: 0.2em;
  box-shadow: 0 .4em .1em rgba(0,0,0,0.4);
  margin-bottom: 1em;
  -webkit-appearance: none;
}

.landing {
  margin-top: 1em;
  margin-bottom: 0;
}

.click-button:hover {
    background: #ED529E;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);

}


a, h1, h2, h3, h4, footer{
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #fffff0;
}


.navbar {
  position: fixed;
  margin: 0 auto;
  padding-top: 5px;
  width: 100vw;
  height: 120px;
  z-index: 1;
}

.logo {
  padding-left: 50px;

}
.landing-container {
  background: #030303;
  overflow: hidden;
  margin: auto;
  text-align: left;
  height: 50vw;
}

.img-back {
  position: absolute;
  object-fit: cover;
  width: 50vw;
  height: 47vw;
  left: 50%;
  margin-left: -25vw;

}

.img-front {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 50vw;
  left: 50%;
  margin-left: -50vw;
  margin-top:;
  opacity: 0.9;
}

.header-container {
  align-items: center;
  width: 100%;
  background-color: #e09dbe; /*pink*/
}

.header-content {
  padding: 5% 0;
}

.header-text {
  display: block;
  text-align: center;
  margin: auto;

}

.case-study-hero {
  height: 55vw;
  margin-left: auto;
  margin-top: 10%;
  margin-bottom: -5%;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 80vh;
  border-radius: 1em;
  margin-bottom: 7vh;
}

.proj-img {
  height: 85vh;
  margin-top: -5vh;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.name-desc {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1em;
  height: 20vh;
}



.card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #565656;
  padding: 0 1em;
}


.role-study {
  font-family: "RNSSanz-Medium";
  margin: 1em 0;
}

.role {
  display: inline-block;
  height: 10vh;
  color: #FFC823;
  border: 1pt solid #FFC823;
  height: 1em;
  padding: 0 1em 0.4em;
  border-radius: 2em;
  margin-right: 0.25em;
}



#skylake-logo {
  width: 100px;
}

.proj-name {
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.proj-content {
  /*background-image: url("../images/backimage.png");*/
  height: 20%;
}

.backimage {
  position: fixed;
  z-index: -1;
  width: 100%;
  margin-top: -20vh;
  left: 0%;
}

.skylake {
  background: #F67FB9;
}

.wave {
  background-image: url("../images/wave.gif");
  background-size: cover;
  background-position: center;
}

.bubble {
  background-image: url("../images/bubble.gif");
  background-size: cover;
  background-position: center;
}


.case-study-text {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  text-align: left;
  font-size: 1.58em;
  line-height: 1.5;
  margin: 10% 0 10% 0;

}

.sub-header {
  font-size: 0.6em;
}

.yellow {
  color: #FFC823;
}

.work-box {
  text-align: center;
  padding: 0 1em;
  height: ;
}

.work-icon {
  height: 4em;
}

.emoji {
  font-size: .7em;
}

#thinker {
  height: 10%;
  padding: 10% 0;
}

.work-text {
  color: #FFC823;
  font-size: 2em;
  margin: 0;
}

.container {
  position: relative;
  display: flex;
  min-height: 500px;
  height: 80%;
  margin: 0 auto 15% auto;
  border-radius: 10px;

}


.container.pink {
  background-color: #F67FB9;
}
.container.gold {
  background-color: #FFC823;
}
.container.blue {
  background-color: #55A7EF;
}

.proj-container {
  position: relative;
  margin: auto;
}

.proj-text {
  padding: 1em;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}



.proj-title {
  font-size: 2em;
  margin: 0;
  color: #fffff0;
}

.proj-desc {
  font-family: "Avenir";
  font-size: 1.2em;
  line-height: 1.3em;
  margin: 2% 0 5% 0;
  color: #fffff0;

}



.row {
  position: relative;
  width: 100%;
  height: 10%;
}

.column {
    float: left;
    text-align: center;
    width: 33%;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.center-col {
  border-right: 1px solid #fffff0;
  border-left: 1px solid #fffff0;

}

.icon {
  height: 1.3em;
}

.role-col {
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}




table {
  font-family: "Avenir";
  width: 100%;
  padding: 0;
}

td {
  width: 33%;
  text-align: center;
  font-family: "Avenir";
  color: #fffff0;
}

th {
  margin-bottom: 5%;
}

table.case-study-table {
  width: 100%;
  font-size: 1em;
}

th.case-table {
  text-align: center;
  font-family: "RNSSanz-ExtraBold";
  font-size: 1.5em;
  color: #fffff0;
}


.border {
  border-left: 1px solid #fffff0;
  border-right: 1px solid #fffff0;

}





/* external css: flickity.css */



.carousel {
  background: #030303;
  margin: 3% -1em;
}

.carousel img {
  display: block;
  width: 95%;
  margin-left: -7%;

  /* dim unselected */
  opacity: 0.5;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.1s, -webkit-transform 0.1s, transform 0.1s, -webkit-filter 0.1s, filter 0.1s;
          transition: opacity 0.1s, transform 0.1s, filter 0.1s;
}

/* brighten selected image */
img.is-selected {
  z-index: 1;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

.carousel-title {
font-family: sofia-pro-soft, sans-serif;  color: #FFC823;
  font-size: 1.5em;
  text-align: center;
  margin: 10% 0 0 0;
}

.caption {
  font-family: sofia-pro-soft, sans-serif;
  font-size: 1em;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 1;
  width: 90vw;
  margin-bottom: 10%;
}

/* buttons, no circle */

.flickity-prev-next-button:hover {
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: #FFC823;
  opacity: 1;
}
.flickity-prev-next-button.no-svg {
  color: #FFC823;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: 3%;
}
/* white circles */
.flickity-page-dots .dot {
  opacity: .5;
  background: #030303;
  border: 1px solid #030303;

}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: #FFC823;
  border: 1px solid #FFC823;
}







/* Case Study */
.study-content {
  text-align: center;
  padding: 0 1em;
}

.main-sections {
  color: #FFC823;
  font-size: 2em;
  margin: 5% auto 0 auto;
}

.main-points {
  font-size: 1.3em;
  width: 100%;
  margin: 0;
  line-height: 1.4;
}


.single-img {
  width: 100%;
  margin: 5% 0;
}

.img-row {
  display: inline-block;
  white-space: nowrap;
  margin: 5% 0;
}

.goldarrow {
  transform: rotate(90deg);
}

a {
  text-decoration: none;
  color: inherit;
}

.case-sections {
  padding-bottom: 3%;
}

p {
  color: #fffff0;
  font-family: "Avenir";
  font-weight: 500;
  font-size: 1.1em;
  width: 100%;
  margin: auto;
  text-align: left;
  line-height: 1.5;
}

.process-steps {
  font-size: 1.75em;
  width: 100%;
  margin: 5% 0 2% 0;
  text-align: left;
  padding-bottom: 5px;
}

footer {
  height: 20%;;
  font-size: 1.2em;
  margin: auto;
  text-align: center;
  line-height: 1.5em;
}

a.fa {
  font-size: 1em;
  padding: 5%;
}


/*Chart styles*/

/* Main Styles */
.chart {
  display: grid;
  grid-template-rows: repeat(100, 1fr);
  grid-column-gap: 2%;
  width: 100%;
  height: 50vh;
  margin-top: -25vh;
  margin-bottom: 5%;
}

.chart.competition {
  height: 13vh;
  margin-top: 5vh;
}

.bar {
  grid-row-end: 102;
  position: relative;
  background: #ffc600;
  width: 21.5vw;
  border-radius: .3em .3em 0 0;
}

.bar.google {
  width: 45vw;
  background: #20A464;
}

.bar.dropbox {
  width: 45vw;
  background: #0062FF;
}

.bar.green {
  background: #0BDAAC;
}

.bar-percent {
  position: relative;
  top: -40px;
  text-align: center;
  font-size: 1.3em;
}

.bar-name {
  position: relative;
  bottom: -99%;
  text-align: center;
  font-size: 1.5em;
  margin-top: -50%;
}

.bar-problem {
  font-size: 0.95em;
  margin-top: -2.5vh;
  color: #030303;
}

table.mobile th {
  font-size: 1.3em;
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 600;
  font-style: normal;
}

table.mobile td {
  font-size: 1.1em;
  padding-bottom: 5%;
}

.high {
  color: #E44D4D;
}

.med {
  color: #FFC823;
}

.low {
  color: #0BDAAC;
}

table.desktop {
  display: none; /*change this on media query*/
}

table.mobile {
}

/* Other Styles*/

.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #fffff0;
}

.chart-container.no-emoji {
  margin-bottom: ;
}

.chart-title {
  font-size: 1.5em;
  margin: 5% 0 0 0;
}


.grid2x2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: -50px;
  z-index: -1;

}
.grid2x2 > div {
  display: flex;
  flex-basis: calc(50% - 15px);
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box {
  margin: 1.5%;
  background-color: #F67FB9;
  border-radius: 10px;
}

.feature-box {
  font-size: 1em;
  padding: 5%;
  height: 20%;
}

.feature {
  margin: 0;
  margin-bottom: 5%;
  color: #030303;
}

.feature-text {
  color: #030303;
  font-size: 1em;
}




/*

@media (min-width: 768px) {

  .proj-container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 60%;
    margin: auto;
  }

  .header {
    font-size: 3.5em;
    line-height: 1.3em;
  }

  .profile-pic {
    width: 300px;;
  }

  .backimage {
    transform: translateX(-450px);
  }


  .landing-container {
    height: 100vh;
    overflow: hidden;
    background: #030303;
  }

  .img-back {
    position: absolute;
    object-fit: cover;
    width: 650px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-top: -360px;
    margin-left: -325px;

  }


  .img-front {
    position: relative;
    width: 1600px;
    height: 1600px;
    top: 50%;
    left: 50%;
    margin-top: -860px;
    margin-left: -800px;
    opacity: 0.93;
  }

  @media screen and ( min-width: 768px ) {
    .carousel-cell {
      height: 400px;
    }
  }

  @media screen and ( min-width: 960px ) {
    .carousel-cell {
      width: 60%;
    }
  }


*/


}
