@font-face {
  font-family: 'RNSSanz-Black';
  src: url('fonts/RNS_Sanz–EOT/RNSSanz-Black.eot'); /* IE9 Compat Modes */
  src: url('fonts/RNS_Sanz–EOT/RNSSanz-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RNS_Sanz-WOOF2/RNSSanz-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RNS_Sanz-WOFF/RNSSanz-Black.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RNS_Sanz-TTF/RNSSanz-Black.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'RNSSanz-ExtraBold';
  src: url('fonts/RNS_Sanz–EOT/RNSSanz-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('fonts/RNS_Sanz–EOT/RNSSanz-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RNS_Sanz-WOOF2/RNSSanz-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RNS_Sanz-WOFF/RNSSanz-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RNS_Sanz-TTF/RNSSanz-ExtraBold.ttf')  format('truetype');/* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RNSSanz-Bold';
  src: url('fonts/RNS_Sanz–EOT/RNSSanz-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/RNS_Sanz–EOT/RNSSanz-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RNS_Sanz-WOOF2/RNSSanz-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RNS_Sanz-WOFF/RNSSanz-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RNS_Sanz-TTF/RNSSanz-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

.mobile-hide {
  display: none;
}

.contact {
  padding: 0;
}

.competitor {
    margin-top: -1.2em;
    width: 150px;
}

table.personas {
  display: none;
}

table.personas-mobile {
  padding: 20px 0;
}

table.personas-mobile td {
  font-size: 1.125em;
  vertical-align: top;
  text-align: left;
  padding: 5px;
  line-height: 1.4;
}

table.personas-mobile th {
  font-size: 1.5em;
  text-align: left;
  color: #817872;
  padding: 10px 0 0 0;
  border-bottom: solid 1px #c8beb7;
}

tr.center td {
  text-align: center;
}

td h1 {
  font-size: 1.5em;
  margin: 0 0 5px 0;
}


table.personas-mobile img {
  width: 40vw;
}

table.personas-mobile ul {
  padding-left: 1em;
}

table.conclusions {
  display: none;
}

table.conclusions-mobile {
  padding: 20px 0;
}

table.conclusions-mobile td {
  font-size: 1.25em;
  vertical-align: top;
  text-align: left;
  padding: 0px 20px;
  line-height: 1.4;
}

table.conclusions-mobile th {
  font-size: 1.5em;
  text-align: left;
  color: #817872;
  padding: 10px 0 0 0;
  border-bottom: solid 1px #c8beb7;
}

tr.center td {
  text-align: center;
}

table.conclusions-mobile img {
  width: 13vw;
}

table.conclusions-mobile ul {
  padding-left: 0;
}

table.conclusions-mobile li {
  padding: 5px 0;
}



.brand-svg {
    padding: 20px 0;
    width: 100%;
}

  .test-row {
  display: block;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  }

  .test-col {
    padding: 5px 0px;
  }

  .test-col > img {
    width: 100%;
    border-radius: 1em;
  }

  .test-col >img.arrow {
    width: 50px;
    padding: 20px;
    transform: rotate(90deg);
  }

  .arrow {
    width: 50px;
  }

.ui-problem-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 100%;
}

.ui-problems {
  display: flex;
  /*flex-basis: calc(25% - 20px);*/
  flex-direction: column;
  margin: 10px 0;
  border-radius: 1em;
  box-shadow: 0.2em 0.3em 0.3em rgba(0,0,0,0.3)
}

.ui-text {
  background: #f5ecdf;
  padding: 1em;
  border-radius: 0 0 1em 1em;
  flex: 1;
}

.ui-text > h3 {
  font-size: 1.5em;
  text-align: left;
  margin: 0 0 5px 0;
}

.ui-img {
  border-radius: 1em 1em 0 0;
  width: 100%;
}



.flow-img {
    width: 100%;
}

.sketch-container {
    display: block;
}

.sketch-row {
  padding: 5px 0;
}

.sketch-container img {
  width: 100%;
  border-radius: 1em;
}

.wireframe-container img {
  width: 100vw;
  margin-left: -1em;
  padding: 40px 0;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

.mailto {
  display: block;
  color: #ff5858;
  padding: 10% 0;
  -webkit-transition: 0.3s ease-in-out;

}

.mailto:hover {
  text-decoration: underline;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/*--------About Page---------*/
.about-header {
  padding: 0 1em;
  padding-top: 15vh;
  max-width: 750px;
  margin: auto;
}

.about-profile {
  width: 40vw;
  display: block;
  margin: auto;
}

.about-photo {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 1em;
}

.about-header h1 {
  margin: 0 0 5% 0;
  font-size: 2em;
  text-align: center;
}

.about-header h4 {
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125em;
  line-height: 1.5;
}

.about-header p {
  padding-top: 0.5em;
  font-family: RNSSanz-Extrabold, sans-serif;
  text-align: center;
  font-size: 1.125em;
}

body {
  background-color: #fff8e8;
  margin: 0;
  /*-webkit-overflow-scrolling: touch;*/
}


.click-button:focus {outline:0;}

.click-button {
  font-family: RNSSanz-Extrabold, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  color: #565656;
  border: none;
  cursor: pointer;
  width: 100%;
  background: #FFC823;
  padding: 3%;
  border-radius: 0.2em;
  box-shadow: 0 .2em .1em rgba(0,0,0,0.4);
  margin-bottom: 1em;
  -webkit-appearance: none;
  -webkit-transition: 0.3s ease-in-out; /*safari and chrome */
}

.click-button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background: #ffd453;
  cursor: pointer;

  box-shadow: 0 0.4em 0.3em rgba(0,0,0,0.3);
}

.click-button:active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background: #ffdc8c;
  box-shadow: 0 .2em .1em rgba(0,0,0,0.4);
  -webkit-transition: 0.1s ease-in-out; /*safari and chrome */
}

.landing {
  margin-top: 1em;
  margin-bottom: 0;
}

.casestudy {
  margin-top: 1em;
  color:#4c4744;
  width: 100%;
}

.fred-logo {
  height: 4em;
  padding: 2em 0 1em 0;
}




a, h1, h2, h3, h4, footer{
  font-family: RNSSanz-ExtraBold, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #817872;
  font-size: 1em;
}

#navbar {
  display: flex;
  align-items: center;
  position: fixed;
  height: 60px;
  width: 100vw;
  z-index: 2;
  background: rgba(255, 248, 232,0.9);
  /*padding: 0 1em;*/
  top: 0; /* Stay on top */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.right-align {
margin-left: auto;
margin-right: 0.5em;
}

#navbar > a > img {
  height: 2.5em;
  padding: 0.3em 0 0 0.5em;
}

#navbar a {
  float: left;
  font-size: 1em;
  padding: 0 .5em;
  color: #817872;
  -webkit-transition: 0.2s ease-in-out; /*safari and chrome */
}


#navbar > div > div > a {
  padding: 0.5em 1em;
  border: 1px solid #f5ecdf;
  float: none;
}

#navbar a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: #ff5858;
  cursor: pointer;
}



/* Dropdown container - needed to position the dropdown content */
.dropdown {
  padding: 0 0.5em;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 1em;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: RNSSanz-ExtraBold, sans-serif;
  color: #4c4744;
  padding: .5em;
  background: #ffc700;
  border-radius: 0.2em;
  box-shadow: 0 .2em .1em rgba(0,0,0,0.4);


}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff8e8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  font-size: 1em;
  background-color: #fff8e8;
  border: 1px solid #f5ecdf;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  -webkit-transition: 0.2s ease-in-out; /*safari and chrome */
}



/* Add a dark background on topnav links and the dropdown button on hover */
.dropdown:hover .dropbtn {
  -webkit-transition: 0.2s ease-in-out; /*safari and chrome */
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: #ff5858;
  background: #ffd453;
  cursor: pointer;
  box-shadow: 0 0.4em 0.3em rgba(0,0,0,0.3);
}

.show {display:block;}

.dropdown:active .dropbtn {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background: #ffdc8c;
  box-shadow: 0 .1em .1em rgba(0,0,0,0.4);
  -webkit-transition: 0.1s ease-in-out; /*safari and chrome */
}




/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}






.logo {
  padding-left: 50px;
}


.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  padding: 0 1em;
}

.landing-container img {
  width: 40vw;
  margin: 15vh auto 5vh auto;
}

.landing-container h1 {
  text-align: center;
  width: 100%;
  font-size: 1.75em;
  line-height: 1.4;
  text-align: left;
  margin: 0px auto auto auto;
}

}

.logo-container {
  position: relative;
  margin: auto;
  height: 50vw;
}

.img-back {
  position: absolute;
  object-fit: cover;
  width: 50vw;
  height: 47vw;
  left: 50%;
  margin-left: -25vw;
}

.img-front {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 50vw;
  left: 50%;
  margin-left: -50vw;
  margin-top:;
  opacity: 0.9;
}

.header-container {
  background: pink;
  overflow: hidden;
}

.header-container-fourthwave {
  background: #e6ebee;
  overflow: hidden;
  margin-top: 60px;
}

.header-content {
  /*padding: 2em 0;*/
}

.header-text {
  display: block;
  text-align: center;
  margin: auto;
}

.case-study-hero {
  height: 55vh;
  display: block;
  margin: auto;
  padding-top: 1em;
  margin-bottom: -2em;
}

.card {
  position: relative;
  background-color: #f3f2f7;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 80vh;
  border-radius: 1em;
  margin: 0 0.5em;
  margin-bottom: 2em;
}

.proj-img-landing {
  height: 85vh;
  flex-shrink: 0;
  min-height: 100%;
}

.proj-img-landing-fourth {
  height: 47vh;
    margin-top: -6vh;
    margin-left: -39vw;
    flex-shrink: 0;

}

.proj-img {
  width: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
}

.name-desc {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1em;
}

.card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #9e9595;
  padding: 0 1em;
}

.deskonly {
  display: none;
}

.role-study {
  margin: 1em 0;
}

.role {
  display: inline-block;
  height: 10vh;
  color: #ff5858;
  border: 1pt solid #ff5858;
  height: 1em;
  padding: 0 1em 0.4em;
  border-radius: 2em;
  margin-right: 0.25em;
}

#skylake-logo {
  width: 100px;
}

#skylake-hero {
  width: 100%;
  padding-top: 60px;
}

#fourthwave-hero {
  width: 100%;
  padding-top: 60px;
}


.proj-name {
  font-size: 3em;
  margin: 0;
  padding: 0;
}

.proj-content {
  /*background-image: url("../images/backimage.png");*/
  height: 20%;
}

.backimage {
  position: fixed;
  z-index: -1;
  width: 100%;
  margin-top: -80vh;
  left: 0%;
}

.backimage-desk {
  display: none;
}

.skylake {
  background: #F67FB9;
}

.wave {
  background-image: url("../images/wave.gif");
  background-size: cover;
  background-position: center;
}

.bubble {
  background-image: url("../images/bubble.gif");
  background-size: cover;
  background-position: center;
}

.case-study-text {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  text-align: left;
  font-size: 2em;
  line-height: 1.4;
  margin: 10% 0;
}

.sub-header {
  font-size: 0.6em;
}

.yellow {
  color: #ff5858;
}

.work-box {
  text-align: center;
  padding: 0 1em;
  height: ;
}

.work-icon {
  height: 4em;
  padding-bottom: 0.5em;
}

.emoji {
  font-size: .7em;
}

#thinker {
  height: 10%;
  padding: 0;
}

.work-text {
  font-size: 3em;
  margin: -0.3em 0 0.5em 0;
}

.container {
  position: relative;
  display: flex;
  min-height: 500px;
  height: 80%;
  margin: 0 auto 15% auto;
  border-radius: 10px;

}

.proj-container {
  position: relative;
  margin: auto;
}

.proj-text {
  padding: 1em;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.proj-title {
  font-size: 2em;
  margin: 0;
  color: #fffff0;
}

.proj-desc {
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25em;
  line-height: 1.3em;
  margin: 2% 0 5% 0;
  color: #fffff0;
}



.row {
  position: relative;
  width: 100%;
  height: 10%;
}

.column {
    float: left;
    text-align: center;
    width: 33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.center-col {
  border-right: 1px solid #fffff0;
  border-left: 1px solid #fffff0;

}

.icon {
  height: 1.3em;
}

.role-col {
  text-align: center;
  font-size: 1.125em;
  font-weight: 400;
  margin: 0;
  color: #fffff0;
}

table {
  width: 100%;
  padding: 0;
}

td {
  width: 33%;
  padding: 0 20px;
  vertical-align: top;
  font-size: 1.5em;
  text-align: center;
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #817872;
}

th {
  font-size: 1.5em;
  margin-bottom: 5%;
  font-family: RNSSanz-Extrabold, sans-serif;

}

table.case-study-table {
  width: 100%;
}

th.case-table {
  text-align: center;
  font-family: RNSSanz-Extrabold, sans-serif;
  font-size: 2em;
  color: #817872;
}

.border {
  border-left: 1px solid #fffff0;
  border-right: 1px solid #fffff0;

}

/*---------- Contact -----------------*/

.forming {
  max-width: 600px;
  margin: auto;
}

.form-group input, textarea {

    font-family: sofia-pro, sans-serif;
    font-size: 1.125em;
    color: #817872;
    border: 1px solid #c4beb9;
    border-radius: 0.5em;
    background: #fff;
    padding: 1em;
    transition: all 0.3s ease-in-out;
    width: calc(100% - 2em - 2px);
    margin: 0.5em 0 1em 0;
}

.form-group textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
  color: #b6aeab;
}

.form-group textarea:focus::-webkit-input-placeholder, input:focus::-webkit-input-placeholder {
  color: #817872;
}


.form-group label {
  font-family: RNSSanz-Extrabold, sans-serif;
  color: #817872;
  font-size: 1.125em;
}

.forming button {
  display: block;
  margin: 1em auto;
}


.feedback-input {
  color: #fffff0;
  font-family: sofia-pro-soft, sans-serif;
  font-size: 1.2em;
  line-height: 1.4;
  background-color: rgba(3,3,3,.7);
  border:2px solid #565656;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #ff5858; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

.bulb-icon {
  height: 4em;
  padding-top: 1em;
  margin: auto;
  display: block;
}

.envelope-icon {
  height: 1em;
  margin-bottom: -0.15em;
  margin-right: 0.5em;
}


/* Case Study */
.study-content {
  text-align: center;
  padding: 0 1em;
}

.main-sections {
  font-family: RNSSanz-Black;

  color: #ff5858;
  font-size: 2em;
  margin: 5% auto 0 auto;
}

.main-points {
  font-size: 1.3em;
  width: 100%;
  margin: 5% 0;
  line-height: 1.4;
}

.single-img {
  width: 100%;
  margin: 10% 0;
}

.img-row {
  display: inline-block;
  white-space: nowrap;
  margin: 5% 0;
}

.goldarrow {
  transform: rotate(90deg);
}

a {
  text-decoration: none;
  color: inherit;
}

.case-sections {
  width: 100%;
  padding-bottom: 3%;
  padding: 1em;
  margin-left: -1em;
}



.case-sections.grey {
  background: #f5ecdf;
}


p {
  color: #817872;
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125em;
  margin: auto;
  text-align: left;
  line-height: 1.5;
}

.process-steps {
  font-family: RNSSanz-Black;
  font-size: 1.75em;
  width: 100%;
  margin: auto;
  text-align: left;
  padding: 20px 0 10px 0;
}


.scrolltop {
	display:none;
  width: 20px;
  height: 20px;
  margin:0 auto;
	position:fixed;
	bottom:5px;
	right:5px;
}

.scroll {
	position:absolute;
  width: 20px;
  height: 20px;
	right:5px;
	bottom:5px;
  border-radius: 50%;
	background: #ffc700;
	padding:10px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
  box-shadow: 0 .2em .1em rgba(0,0,0,0.4);

}

.scroll:hover {
	background:#ffd453;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
  transform: scale(1.2);
  box-shadow: 0 0.4em 0.3em rgba(0,0,0,0.3);

}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size:2em;
	margin-top:-8px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}

.vert-move {
    -webkit-animation: mover .25s 6  alternate;
    animation: mover .25s 6  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}


footer {
  font-size: 1.2em;
  text-align: center;
  line-height: 1.5em;
}

a.fa {
  font-size: 1.3em;
  padding: 5%;
  -webkit-transition: 0.3s ease-in-out; /*safari and chrome */

}

a.fa:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  color: #ff5858;
}



/*Chart styles*/

/* Main Styles */
.chart-problem {
  display: grid;
  grid-template-rows: repeat(100, 1fr);
  grid-column-gap: 2%;
  margin-left: -6%;
  height: 60vh;
  margin-top: -35vh;
}

.chart-problem.fourth {
  margin-left: -6%;
  height: 30vh;
  margin-top: -10vh;
}

.chart {
  display: grid;
  grid-template-rows: repeat(100, 1fr);
  grid-column-gap: 2%;
  height: 40vh;
  margin-top: -10vh;
  margin-left: -6%;
}

.chart.pain {
  margin-top: -22vh;
}

.chart.competition {
  height: 20vh;
  margin-top: 5vh;
  margin-left: -2%;
}

.chart.success {
  height: 30vh;
  margin-top:-3vh;
}

.bar {
  grid-row-end: 102;
  position: relative;
  background: #ffc600;
  width: 21.5vw;
  border-radius: .3em .3em 0 0;
}

.bar.google {
  width: 45vw;
  background: #a8e3ff;
}

.bar.dropbox {
  width: 45vw;
  background: #a8e3ff;
}

.bar.green {
  background: #0BDAAC;
}

.bar-percent {
  color: #817872;
  position: relative;
  top: -1.5em;
  text-align: center;
  font-size: 1.3em;
}

.bar-name {
  position: relative;
  bottom: -99%;
  text-align: center;
  font-size: 1.5em;
  margin-top: -1.5em;
}

.bar-name-fourth {
    position: relative;
    bottom: -99%;
    text-align: center;
    font-size: 1.5em;
    margin-top: -1em;
}

.bar-problem {
  font-size: 0.95em;
  margin-top: -1.5em;
  color: #4c4744;
}

.bar-text {
  font-size: 0.95em;
  margin-top: -1.2em;
  color: #4c4744;
}

table.mobile th {
  font-size: 1.3em;
  font-family: RNSSanz-ExtraBold, sans-serif;
  font-weight: 600;
  font-style: normal;
}

table.mobile td {
  font-size: 1.1em;
  padding-bottom: 5%;
}

.high {
  color: #E44D4D;
}

.med {
  color: #FFC823;
}

.low {
  color: #0BDAAC;
}

table.desktop {
  display: none; /*change this on media query*/
  padding: 2em 0;
}

table.mobile {
  padding: 10% 0;
}

/* Other Styles*/

.chart-container-problem{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #fffff0;
  margin-bottom: 60px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #fffff0;
  margin-bottom: 5%;
}

.chart-title {
  font-size: 1.5em;
  margin: 20px 0 10px 0;
  text-align: left;
}


.grid2x2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 70%;
  z-index: -1;
}

.grid2x2 > div {
  display: flex;
  flex-basis: calc(48%);
  justify-content: flex-start;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box {
  margin: 0;
  border-radius: 10px;
}

.box-pink {
  margin: 1%;
  border-radius: 10px;
  box-shadow: 0 0.3em 0.5em rgba(0,0,0,0.2);
  background-color: #ffc0cb;
}

.box-blue {
  margin: 1%;
  border-radius: 10px;
  box-shadow: 0 0.3em 0.5em rgba(0,0,0,0.2);
  background-color: #98ddff;
}


.feature-box {
  font-size: 1em;
  padding: 0.5em;
}

.feature {
  font-family: sofia-pro-soft, sans-serif;
  font-size: 1.3em;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 0.5em;
  color: #4c4744;
}

.feature-text {
  color: #4c4744;
  font-size: 1em;
}

.conc-title {
  font-size: 1.5em;
  padding: 10px;
  margin: 0;
}

.conc-icon {
  height: 1.5em;
  margin-top: 5%;
}





/* ----------------Mobile Landscape----------------- */

@media (orientation: landscape) and (max-width:1023px) {

  .proj-img-landing-fourth {
    width: 102vw;
    height: initial;
    margin-top: 0;
    margin-left: 0;
    flex-shrink: 0;
  }

  .mobile-hide {
    display: block;
  }

  table.personas-mobile {
    display: none;
  }

  .about-photo {
    width: auto;
  height: 90vh;
  }

  .about-profile {
      width: 20vw;
  }

  .about-header {
      padding-top: 25vh;
      max-width: 80vw;
  }

  #navbar a {
    font-size: 1.3em;
  }

  .bar-text {
    font-size: 1em;
    line-height: 1.2;
  }
  .bar-text {
    margin-top: -1.8em;
  }

  #skylake-hero {
    width: 100%;
    padding-top: 0;
  }

  #fourthwave-hero {
    width: 100%;
    padding-top: 60px;
  }

  .goldarrow {
      transform: rotate(90deg);
      width: 30px;
  }

  #navbar > div > div > a {
      padding: 0.15em .5em;
  }

  #navbar > a > img {
      padding: 0.3em .5em 0 0.5em;
  }

.conclusions-mobile {
  width: 80vw;
  margin: auto;
}

  .brand-svg {
  width: 80vw;
  margin: auto;
  }

  .chart-problem {
      height: 70vh;
  }


  .test-row {
      display: flex;
  }

.case-sections {
  width: auto;
  margin: 0;
}

.test-col >img.arrow {
    width: 30px;
    padding: 20px;
    transform: none;
}

  .wireframe-container img {
      width: 100%;
      margin: auto;
      padding: 20px 0;
  }

  .sketch-container {
      display: flex;
      padding: 20px 0;
  }

  .flow-img {
    width: 80vw;
    padding: 40px;
}

  table.personas {
    display: flex;
  }

  table.personas {
    display: block;
    padding: 40px 0;
    /*width: 1000px;*/
    margin: auto;
  }

  table.personas td {
    font-size: 1em;
    vertical-align: top;
    text-align: left;
    padding: 5px 10px;
    line-height: 1.4;
  }

  table.personas th {
    font-size: 1.5em;
    text-align: left;
    color: #817872;
    padding: 10px 0 0 0;
    border-bottom: solid 1px #c8beb7;
  }

  tr.center td {
    text-align: center;
  }

  td h1 {
    font-size: 1.25em;
    margin: 0 0 5px 0;
  }

  table.personas img {
    width: 25vw;
  }

  table.personas ul {
    padding-left: 1em;
    margin: 0;
  }

  .case-sections > p, .box > p {
    width: 80vw;
    margin: auto;
  }

  .competitor {
    margin-top: -1.75em;
    width: 200px;
}

  .case-sections > .process-steps {
    width: 80vw;
  }


  th.case-table {
    font-size: 1.3em;
  }

  td {
    font-size: 1.125em;
    padding: 0;
  }

  .casestudy {
      width: 50vw;
  }

  .landing-container {
    overflow: hidden;
    margin: auto;
    text-align: left;
    height: 95vh;
  }

  .landing-container img {
    width: 20vw;
    margin: 25vh auto 5vh auto;
}

.logo-container {
    position: relative;
    margin: auto;
    height: 40vh;
  }

  .img-back {
    position: absolute;
    object-fit: cover;
    width: 40vh;
    height: 37vh;
    left: 50%;
    margin-left: -20vh;
  }

  .img-front {
    position: absolute;
    object-fit: cover;
    width: 40vh;
    height: 40vh;
    left: 50%;
    margin-left: -20vh;
    opacity: 0.9;
  }

  .backimage {
    display: none;
  }

  .backimage-desk {
    display: block;
    position: fixed;
    z-index: -1;
    height: 100vh;
    margin-top: -80vh;
    margin-left: 20vw;
    left: 0%;
  }

  .header {
    position: relative;
    text-align: center;
    width: 600px;
    line-height: 1.5;
    margin: auto;
  }

  .proj-title {
    font-size: 2.5em;
    margin: 0;
    color: #fffff0;
  }

  .proj-desc {
    font-size: 1em;
    margin: 5% 0;
  }

  .proj-img-landing {
    width: 130vw;
    margin-left: 30vw;
    object-fit: cover;
    flex-shrink: 0;
    height: 100vh;
    /* min-width: 100%; */
    /* min-height: 100%; */
  }

  .card {
    width: 90vw;
    margin: auto;
    position: relative;
    background-color: #565656;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 350px;
    border-radius: 1em;
    margin-bottom: 2em;
  }

  .click-button {
    font-size: 1.2em;
  }

  .card-bottom {
    display: none;
  }

  .deskonly{
    display: block;
  }

  .icon {
    position: relative;
    height: 1em;
    bottom: -0.1em;
    margin-right: 0.5em;
  }

  .ul-deskonly {
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: #fffff0;
    list-style: none;
    padding-left: 0;
    margin: 5% 0;
  }

  .ul-deskonly li {
    padding: 0.1em 0;
  }

  .ui-problems {
    display: flex;
    flex-basis: calc(50% - 20px);
    flex-direction: column;
    margin: 10px;
    border-radius: 1em;
    box-shadow: 0.2em 0.3em 0.3em rgba(0,0,0,0.3);
}

  .name-desc {



    padding: 0 1.5em;
    width: 30vw;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  footer {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5em;
  }

  a.fa {
    font-size: 1.2em;
    padding: 2% 5%;
    margin: 0;
  }

  .study-content {
    text-align: center;
    /*width: 600px;*/
    padding: 0;
    margin: auto;
  }

  table.desktop {
    display: table;
  }

  table.mobile {
    display: none;
  }

  .main-sections {
    color: #ff5858;
    font-size: 2em;
    margin: 5% auto 0 auto;
  }

  .main-points {
    font-size: 1.5em;
    width: 80vw;
    margin: 2% auto 0 auto;
    line-height: 1.4;
  }

  .bar {
    grid-row-end: 102;
    position: relative;
    background: #ffc600;
    width: 140px;
    border-radius: .3em .3em 0 0;
  }


  .proj-img {
    height: auto;
    width: 600px;
    z-index: 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .bar.google {
    width: 294px;
  }

  .bar.dropbox {
    width: 294px;
  }

  .chart-title {
    width: 80vw;
    margin: 10px auto 5px auto;
  }

  .chart {
      height: 60vh;
      margin-top: -5vh;
  }

  .chart.pain {
    margin-top: -25vh;
}

  .chart.competition {
    height: 30vh;
  }

  .chart.success {
    height: 60vh;
    margin-top:-10vh;
  }

  .carousel img {
    width: 60%;
    margin-left: 0;
  }


  .carousel {
    background: #030303;
    margin: 3% -1em;
    width: 100vw;
    margin-left: -50vw;
    transform: translateX(300px);
  }

  .flickity-prev-next-button.previous { left: 10vw; }
  .flickity-prev-next-button.next { right: 10vw; }


  .flickity-prev-next-button {
    width: 50px;
    height: 50px;
    background: transparent;
  }

  .caption {
    width: 600px;
    font-size: 1.3em;
  }

  .grid2x2 {
    margin-top: 360px;
    width: 100%;
  }

  .grid2x2 > div {
    display: flex;
    flex-basis: calc(23%);
    justify-content: flex-start;
    flex-direction: column;
  }

  .bar-percent {
    font-size: 1.5em;
  }

  .bar-problem {
    font-size: 1.2em;
    line-height: 1.2;

  }

  .single-img {
    margin: 5% 0;
  }


  .feature {
    font-size: 1.1em;
  }

  .feature-box {
    padding: 10%;
  }

  .flickity-page-dots {
    bottom: 3%;
  }

  .flickity-page-dots .dot {
    width: 7px;
    height: 7px;
    margin: 0 5px;
  }


  .case-sections {
    padding-bottom: 10%;
  }

}

/* ----------------TABLET----------------- */

@media (min-width: 768px) and (max-width:1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2){

  .proj-img-landing-fourth {
    width: 102vw;
    height: initial;
    margin-top: 0;
    margin-left: 0;
    flex-shrink: 0;
  }

  .mobile-hide {
    display: block;
  }

.scrolltop .scroll {
  right: 10px;
  bottom: 10px;
}

    table.personas {
      display: flex;
    }

    table.personas {
      display: block;
      padding: 40px 0;
      /*width: 1000px;*/
      margin: auto;
    }

    table.personas td {
      font-size: 1em;
      vertical-align: top;
      text-align: left;
      padding: 5px 10px;
      line-height: 1.4;
    }

    table.personas th {
      font-size: 1.5em;
      text-align: left;
      color: #817872;
      padding: 10px 0 0 0;
      border-bottom: solid 1px #c8beb7;
    }

    tr.center td {
      text-align: center;
    }

    td h1 {
      font-size: 1.25em;
      margin: 0 0 5px 0;
    }

    table.personas img {
      width: 25vw;
    }

    table.personas ul {
      padding-left: 0;
    }

  .flow-img {
    width: 90vw;
}

.brand-svg {
    width: 90vw;
}

table.conclusions {
    display: flex;
    width: 90vw;
    margin: auto;
    padding: 40px 0;
}

table.conclusions td {
    font-size: 1.25em;
    vertical-align: top;
    text-align: left;
    padding: 5px 20px;
    line-height: 1.4;
}

table.conclusions ul {
  padding: 0;
}

table.conclusions li {
  padding: 5px 0;
}

.test-row {
    padding: 40px 0;
}

  .process-steps {
      width: 90vw;
  }

  .feature-text {
      font-size: 1.25em;
  }

  .landing-container h1 {
    width: 80vw;
    font-size: 3em;
  }


  .logo-container {
    height: 30vh;
  }

  table.conclusions-mobile {
    display: none;
  }

  .img-back {
    position: absolute;
    object-fit: cover;
    width: 30vh;
    height: 27vh;
    left: 50%;
    margin-left: -15vh;

  }

  .img-front {
    position: absolute;
    object-fit: cover;
    width: 30vh;
    height: 30vh;
    left: 50%;
    margin-left: -15vh;
    opacity: 0.9;
  }

  .backimage {
    display: none;
  }

  .backimage-desk {
    display: block;
    position: fixed;
    z-index: -1;
    height: 100vh;
    margin-top: -80vh;
    margin-left: 0;
    left: 0%;
  }

  .header {
    position: relative;
    text-align: left;
    width: 650px;
    font-size: 3em;
    line-height: 1.4;
    margin: auto;
  }

  .proj-title {
    font-size: 3em;
    width: 40vw;
    margin: 0;
    color: #fffff0;
  }

  .proj-img-landing {
    height: 70vh;
    margin-left: 30vw;
    object-fit: cover;
    margin-top: 2vh;
    flex-shrink: 0;
  }

  .card {
    width: 90vw;
    margin: auto;
    position: relative;
    background-color: #565656;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 40vh;
    border-radius: 1em;
    margin-bottom: 2em;
  }

  .card-bottom {
    display: none;
  }

  .deskonly{
    display: block;
  }

  .icon {
    position: relative;
    height: 1em;
    bottom: -0.1em;
    margin-right: 0.5em;
  }

  .ul-deskonly {
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: #fffff0;
    list-style: none;
    padding-left: 0;
  }

  .ul-deskonly li {
    padding: 0.1em 0;
  }

  .name-desc {
    bottom: 0;
    padding: 3% 5%;
    width: 25vw;
  }

  footer {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5em;
  }

  a.fa {
    font-size: 1.2em;
    padding: 2% 5%;
    margin: 0;
  }

  .study-content {
    text-align: center;
    padding: 0;
    margin: auto;
  }

  .case-sections > p {
    width: 90vw;
  }

  table.desktop {
    display: table;
  }

  table.case-study-table {
    width: 90%;
}

  table.mobile {
    display: none;
  }

  td {
    font-size: 1.2em;
  }

  .casestudy {
    width: 40vw;
}

  .main-sections {
    color: #ff5858;
    font-size: 3em;
    margin: 5% auto 0 auto;
  }

  .main-points {
    font-size: 1.75em;
    width: 90vw;
    margin: 2% auto 0 auto;
    line-height: 1.4;
  }

  .bar {
    grid-row-end: 102;
    position: relative;
    background: #ffc600;
    width: 140px;
    border-radius: .3em .3em 0 0;
  }


  .bar-text {
      font-size: 1.2em;
      line-height: 1.2;
  }

  .proj-img {
    height: 550px;
    width: auto;
    z-index: 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .bar.google {
    width: 294px;
  }

  .bar.dropbox {
    width: 294px;
  }

  .chart-title {
    width: 90vw;
    margin: 5% auto 3% auto;
  }

  .carousel img {
    width: 70%;
    margin-left: 0;
  }

  .carousel {
    background: #030303;
    margin: 3% -1em;
    width: 100vw;
    margin-left: -50vw;
    transform: translateX(300px);
  }

  .flickity-prev-next-button.previous { left: 8vw; }
  .flickity-prev-next-button.next { right: 8vw; }


  .flickity-prev-next-button {
    width: 50px;
    height: 50px;
    background: transparent;
  }

  .caption {
    width: 600px;
    font-size: 1.3em;
  }


  .grid2x2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 440px;
    z-index: -1;
  }

  .grid2x2 > div {
    display: flex;
    flex-basis: calc(48%);
    justify-content: flex-start;
    flex-direction: column;
  }
  .grid2x2 > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .box {
    margin: 0;
    border-radius: 10px;
  }

  .box > p {
    width: 90vw;
  }

  .box-pink {
    margin: 1%;
    border-radius: 10px;
    box-shadow: 0 0.3em 0.5em rgba(0,0,0,0.2);
    background-color: #ffc0cb;
  }




  .bar-percent {
    font-size: 1.5em;
  }

  .bar-problem {
    font-size: 1.2em;
    line-height: 1.2;
    margin-top: -1.2em;
  }

  .single-img {
    margin: 5% 0;
  }


  .feature {
    font-size: 1.5em;
  }

  .feature-box {
    padding: 5%;
  }

  .flickity-page-dots {
    bottom: 3%;
  }

  .flickity-page-dots .dot {
    width: 7px;
    height: 7px;
    margin: 0 5px;
  }


  .case-sections {
    width: auto;
    margin: auto;
    padding-bottom: 10%;
    padding-bottom: 3%;
    padding: 1em;
  }

  .ui-problems {
    flex-basis: calc(50% - 20px);
    margin: 10px;
  }

}


/* -----------------Tablet LANDSCAPE------------*/

@media (min-width: 768px) and (max-width:1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2){

.proj-img-landing-fourth {
  height: 70vh;
margin-left: 0;
object-fit: cover;
margin-top: 0;
flex-shrink: 0;
}

  .mobile-hide {
    display: block;
  }

  table.conclusions li {
    padding: 5px 0;
  }

    .about-profile {
      width: 15vw;
      display: block;
      margin: auto;
    }

    #navbar {
      display: flex;
      align-items: center;
      position: fixed;
      width: 80vw;
      height: 60px;
      z-index: 2;
      padding: 0 10vw;
      top: 0; /* Stay on top */
      transition: top 0.3s; /* Transition effect when sliding down (and up) */
    }

    .right-align {
    margin-left: auto;
    }

    #navbar > a > img {
      height: 2.5em;
      padding: 0.3em 1em 0 0;

    }

    #navbar a {
      margin: 0;
      float: left;
      font-size: 1.3em;
      padding: 0 .5em;
      color: #817872;
      -webkit-transition: 0.2s ease-in-out; /*safari and chrome */
    }

    #navbar > div > div > a {
      padding: .5em 1em;
      float: none;
    }

    #navbar a:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      color: #ff5858;
      cursor: pointer;
    }


    .landing-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 95vh;
    }

    .landing-container img {
      width: 15vw;
      margin: 15vh auto 5vh auto;
    }

    .landing-container h1 {
      text-align: center;
      width: 950px;
      font-size: 3em;
      margin: 0px auto auto auto;
    }

    .logo-container {
      position: relative;
      margin: auto;
      height: 30vh;
    }

    .img-back {
      position: absolute;
      object-fit: cover;
      width: 30vh;
      height: 27vh;
      left: 50%;
      margin-left: -15vh;

    }

    .img-front {
      position: absolute;
      object-fit: cover;
      width: 30vh;
      height: 30vh;
      left: 50%;
      margin-left: -15vh;
      opacity: 0.9;
    }

    .backimage {
      display: none;
    }

    .backimage-desk {
      display: block;
      position: fixed;
      z-index: -1;
      height: 100vh;
      margin-top: -80vh;
      margin-left: 25vw;
      left: 0%;
    }


  .ui-problem-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px auto;
    width: 100%;
  }

  .ui-problems {
    display: flex;
    flex-basis: calc(25% - 20px);
    flex-direction: column;
    margin: 10px;
    border-radius: 1em;
    box-shadow: 0.2em 0.3em 0.3em rgba(0,0,0,0.3)
  }



  .ui-text {
    background: #f5ecdf;
    padding: 1em;
    border-radius: 0 0 1em 1em;
    flex: 1;

  }

  .ui-text > h3 {
    font-size: 1.5em;
    text-align: left;
    margin: 0 0 5px 0;
  }

  .ui-img {
    border-radius: 1em 1em 0 0;
    width: 100%;
  }

  table.personas-mobile {
    display: none;
  }

  table.personas {
    display: block;
    padding: 40px 0;
    /*width: 1000px;*/
    margin: auto;
  }

  table.personas td {
    font-size: 1.25em;
    vertical-align: top;
    text-align: left;
    padding: 5px 20px;
    line-height: 1.4;
  }

  table.personas th {
    font-size: 1.5em;
    text-align: left;
    color: #817872;
    padding: 10px 0 0 0;
    border-bottom: solid 1px #c8beb7;
  }

  tr.center td {
    text-align: center;
  }

  td h1 {
    font-size: 1.75em;
    margin: 0 0 5px 0;
  }


  table.personas img {
    width: 13vw;
  }

  table.personas ul {
    padding-left: 0;
  }



  table.conclusions-mobile {
    display: none;
  }

  table.conclusions {
    display: flex;
    margin: auto;
    padding: 40px 0;
  }

  table.conclusions td {
    font-size: 1.25em;
    vertical-align: top;
    text-align: left;
    padding: 5px 20px;
    line-height: 1.4;
  }

  table.conclusions th {
    font-size: 1.5em;
    text-align: left;
    color: #817872;
    padding: 10px 0 0 0;
    border-bottom: solid 1px #c8beb7;
  }

  tr.center td {
    text-align: center;
  }

  table.conclusions img {
    width: 13vw;
  }

  table.conclusions ul {
    padding-left: 0;
  }

    #thinker {
        padding:;
    }

    .proj-title {
      font-size: 3em;
      margin: 0;
      color: #fffff0;
    }

    .proj-img-landing {
        width: 110vw;
        margin-left: 30vw;
        object-fit: cover;
        flex-shrink: 0;
        /* min-width: 100%; */
        /* min-height: 100%; */
    }

    .card {
      width: 80vw;
      margin: auto;
      position: relative;
      background-color: #565656;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      height: 70vh;
      border-radius: 1em;
      margin-bottom: 2em;
    }

    .card-bottom {
      display: none;
    }

    .deskonly{
      display: block;
    }

    .icon {
      position: relative;
      height: 1em;
      bottom: -0.1em;
      margin-right: 0.5em;
    }

    .ul-deskonly {
      font-family: sofia-pro, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.25em;
      color: #fffff0;
      list-style: none;
      padding-left: 0;
    }

    .ul-deskonly li {
      padding: 0.1em 0;
    }

    .name-desc {
      padding: 0 10%;
      width: 20vw;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }

    footer {
      font-size: 1.2em;
      text-align: center;
      line-height: 1.5em;
    }

    a.fa {
      font-size: 1.2em;
      padding: 2% 5%;
      margin: 0;
    }

    .study-content {
      text-align: center;
      padding: 0;
      margin: auto;
    }

    .casestudy {
      margin-top: 20px;
      color: #4c4744;
      width: 30vw;
  }

    .click-button {
      background: #FFC823;
      padding: .75em;
    }
    .carousel img.flows {
      width: 30%;
    }

    table.desktop {
      display: table;
      padding: 40px 0;
    }

    table.mobile {
      display: none;
    }

    .main-sections {
      color: #ff5858;
      font-size: 3em;
      margin: 0;
      padding-bottom: 0px;
    }

    .main-points {
      font-size: 2.5em;
      line-height: 1.4;
      margin: 0 auto;
      padding: 20px;
    }

    .grid2x1 {
    display: flex;
    flex-direction: row;
  }

    .grid2x1 > div {
    display: flex;
    flex-basis: calc(45%);
    justify-content: center;
    flex-direction: column;
  }
  .grid2x1 > div > div {
    display: flex;
    /*justify-content: center;*/
    flex-direction: row;
  }

  .flow-img {
    width: 50vw;
    padding: 40px;
  }

  .sketch-container {
    display: flex;
  }

  .sketch-row {
    padding: 40px 5px;
  }

  .sketch-container img {
    width: 100%;
  }


  .wireframe-container img {
    width: 100%;
    padding: 40px 0;
  }



    .bar {
      grid-row-end: 102;
      position: relative;
      background: #ffc600;
      width: 200px;
      border-radius: .5em .5em 0 0;
    }

    .research {
      width: 10vw;
    }

    .process-steps {
      font-size: 2.5em;
    }

    .proj-img {
      height: 90vh;
      width: auto;
      z-index: 1;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      margin-top: -5vh;
      left: 0;
      right: 0;
    }

    .bar.google {
      width: 294px;
    }

    .bar.dropbox {
      width: 294px;
    }

    .bar-name {
      font-size: 2em;
    }


    .chart-title {
      font-size: 1.5em;
      margin: 40px 0 10px 0;
      text-align: left;
    }


    .chart-title.thousand {
      margin: 20px auto 10px auto;
    }

    .caption {
      width: 600px;
      font-size: 1.3em;
    }

    .grid2x2 {
      padding-top: 68vh;
      margin: auto;
    }

    .grid2x2 > div {
      display: flex;
      flex-basis: calc(23%);
      justify-content: flex-start;
      flex-direction: column;
    }

    .bar-percent {
      font-size: 1.5em;
    }

    .bar-problem {
      font-size: 1.5em;
      line-height: 1.2;
      margin-top: -1em;
    }


    .competitor {
      margin-top: -1.5em;
      width: 200px;
    }

    .bar-text {
      font-size: 1.2em;
      line-height: 1.2;
    }

    .single-img {
      margin: 40px 0;
    }


    .feature {
      font-size: 1.5em;
    }

    .feature-text {
      font-size: 1.2em;
    }

    .feature-box {
      padding: 10%;
    }


    .case-sections {
      width: auto;
      padding: 5vh 5vh;
      margin: 0;
    }

    .test-row {
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .test-col {
      padding: 40px 5px;
    }

    .test-col > img {
      width: 100%;
    }

    .test-col >img.arrow {
      width: 50px;
      padding: 40px;
      transform: none;
    }

    .arrow {
      width: 50px;
    }

    .brand-svg {
      padding: 40px 0;
      width: 600px;
      margin: auto;
    }



    .box {
      margin: 0 2.5%;
      border-radius: 10px;
    }

    p {
      color: #817872;
      font-family: sofia-pro, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.25em;
      margin: auto;
      text-align: left;
      line-height: 1.5;
    }

    #skylake-hero {
      width: 100vw;
      padding-top: 0;
    }

    #fourthwave-hero {
      width: 100%;
      padding-top: 60px;
    }

    .header-container {
      height: 80vh;
    }

    .chart {
      display: grid;
      grid-template-rows: repeat(100, 1fr);
      grid-column-gap: 2%;
      height: 40vh;
      margin-top: -10vh;
      margin-left: 0;
    }


    .chart.pain {
      margin-top: -10vh;
    }

    .dropdown .dropbtn {
      font-size: 1.3em;
      padding: .25em .5em;
    }

    .about-header p {
      padding-top: 1em;
      font-family: RNSSanz-Extrabold, sans-serif;
      text-align: center;
      font-size: 1.25em;
      line-height: 1.5;
    }

    .proj-desc {
      font-size: 1.5em;
    }

    .forming button {
      width: 20vw;
    }
    .about-header {
      padding-top: 100px;
    }


    .scrolltop {
    	bottom:10px;
    	right:10px;
    }

    .scroll {
    	right:10px;
    	bottom:10px;
    }

  }



/* ----------------DESKTOP----------------- */

@media (min-width: 1025px) {

  .mobile-hide {
    display: block;
  }

  .about-profile {
    width: 15vw;
    display: block;
    margin: auto;
  }



  #navbar {
    display: flex;
    align-items: center;
    position: fixed;
    width: 80vw;
    height: 60px;
    z-index: 2;
    padding: 0 10vw;
    top: 0; /* Stay on top */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }

  .right-align {
  margin-left: auto;
  }

  #navbar > a > img {
    height: 2.5em;
    padding: 0.3em 1em 0 0;

  }

  #navbar a {
    margin: 0;
    float: left;
    font-size: 1.3em;
    padding: 0 .5em;
    color: #817872;
    -webkit-transition: 0.2s ease-in-out; /*safari and chrome */
  }

  #navbar > div > div > a {
    padding: .5em 1em;
    float: none;
  }

  #navbar a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: #ff5858;
    cursor: pointer;
  }


  .landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
  }

  .landing-container img {
    width: 15vw;
    margin: 15vh auto 5vh auto;
  }

  .landing-container h1 {
    text-align: center;
    width: 950px;
    font-size: 3em;
    margin: 0px auto auto auto;
  }

  .logo-container {
    position: relative;
    margin: auto;
    height: 30vh;
  }

  .img-back {
    position: absolute;
    object-fit: cover;
    width: 30vh;
    height: 27vh;
    left: 50%;
    margin-left: -15vh;

  }

  .img-front {
    position: absolute;
    object-fit: cover;
    width: 30vh;
    height: 30vh;
    left: 50%;
    margin-left: -15vh;
    opacity: 0.9;
  }

  .backimage {
    display: none;
  }

  .backimage-desk {
    display: block;
    position: fixed;
    z-index: -1;
    height: 100vh;
    margin-top: -80vh;
    margin-left: 25vw;
    left: 0%;
  }


.ui-problem-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px auto;
  width: 100%;
}

.ui-problems {
  display: flex;
  flex-basis: calc(25% - 20px);
  flex-direction: column;
  margin: 10px;
  border-radius: 1em;
  box-shadow: 0.2em 0.3em 0.3em rgba(0,0,0,0.3)
}



.ui-text {
  background: #f5ecdf;
  padding: 1em;
  border-radius: 0 0 1em 1em;
  flex: 1;

}

.ui-text > h3 {
  font-size: 1.5em;
  text-align: left;
  margin: 0 0 5px 0;
}

.ui-img {
  border-radius: 1em 1em 0 0;
  width: 100%;
}

table.personas-mobile {
  display: none;
}

table.personas {
  display: block;
  padding: 40px 0;
  /*width: 1000px;*/
  margin: auto;
}

table.personas td {
  font-size: 1.25em;
  vertical-align: top;
  text-align: left;
  padding: 5px 20px;
  line-height: 1.4;
}

table.personas th {
  font-size: 1.5em;
      text-align: left;
      color: #817872;
      padding: 10px 0px 10px 20px;
      border-bottom: solid 1px #c8beb7;
}

tr.center td {
  text-align: center;
}

td h1 {
  font-size: 1.75em;
  margin: 0 0 5px 0;
}


table.personas img {
  width: 13vw;
}

table.personas ul {
  padding-left: 0;
}



table.conclusions-mobile {
  display: none;
}

table.conclusions {
  display: flex;
  width: 1000px;
  margin: auto;
  padding: 40px 0;
}

table.conclusions td {
  font-size: 1.25em;
  vertical-align: top;
  text-align: left;
  padding: 5px 20px;
  line-height: 1.4;
}

table.conclusions th {
  font-size: 1.5em;
  text-align: left;
  color: #817872;
  padding: 10px 0 0 0;
  border-bottom: solid 1px #c8beb7;
}

tr.center td {
  text-align: center;
}

table.conclusions img {
  width: 13vw;
}

table.conclusions ul {
  padding-left: 0;
}

  #thinker {
      padding:;
  }

  .proj-title {
    font-size: 3em;
    margin: 0;
    color: #fffff0;
  }

  .proj-img-landing {
    width: 130vw;
    min-height: 90vh;
    margin-left: 30vw;
    object-fit: cover;
    flex-shrink: 0;
    /* min-width: 100%; */
    /* min-height: 100%; */
  }

  .proj-img-landing-fourth {
        width: 100vw;
        height: 90vh;
        margin-left: 0;
        object-fit: cover;
        margin-top: 0;
        flex-shrink: 0;
  }

  .card {
    width: 100vw;
    margin: auto;
    position: relative;
    background-color: #565656;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 90vh;
    border-radius: 0;
    margin-bottom: 2em;
  }

  .card-bottom {
    display: none;
  }

  .deskonly{
    display: block;
  }

  .icon {
    position: relative;
    height: 1em;
    bottom: -0.1em;
    margin-right: 0.5em;
  }

  .ul-deskonly {
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
    color: #fffff0;
    list-style: none;
    padding-left: 0;
  }

  .ul-deskonly li {
    padding: 0.1em 0;
  }

  .name-desc {
    padding: 0 10%;
    width: 20vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  footer {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5em;
  }

  a.fa {
    font-size: 1.2em;
    padding: 2%;
    margin: 0;
  }

  .study-content {
    text-align: center;
    padding: 0;
    margin: auto;
  }

  .casestudy {
    margin-top: 20px;
    color: #4c4744;
    width: 20vw;
}

  .click-button {
    background: #FFC823;
    padding: .75em;
  }
  .carousel img.flows {
    width: 30%;
  }

  table.desktop {
    display: table;
    padding: 40px 0;
  }

  table.mobile {
    display: none;
  }

  .main-sections {
    color: #ff5858;
    font-size: 3em;
    margin: 0;
    padding-bottom: 0px;
  }

  .main-points {
    font-size: 2.5em;
    line-height: 1.4;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }

  .grid2x1 {
  display: flex;
  flex-direction: row;
}

  .grid2x1 > div {
  display: flex;
  flex-basis: calc(45%);
  justify-content: center;
  flex-direction: column;
}
.grid2x1 > div > div {
  display: flex;
  /*justify-content: center;*/
  flex-direction: row;
}

.flow-img {
  width: 50vw;
  padding: 40px;
}

.flow-img.fourth {
  width: 80vw;
  padding: 40px;
}

.sketch-container {
  display: flex;
}

.sketch-row {
  padding: 40px 5px;
}

.sketch-container img {
  width: 100%;
}


.wireframe-container img {
  width: 100%;
  padding: 40px 0;
}


.wireframe-container.fourth img {
  border-radius: 1em;
  width: 80vw;
  margin: 40px 0;
  padding: 0;
}


  .bar {
    grid-row-end: 102;
    position: relative;
    background: #ffc600;
    width: 250px;
    border-radius: .5em .5em 0 0;
  }

  .research {
    width: 8vw;
  }

  .process-steps {
    width: 1000px;
    font-size: 2.5em;
  }

  .proj-img {
    height: 90vh;
    width: auto;
    z-index: 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5vh;
    left: 0;
    right: 0;
  }

  .proj-img.fourth {
    height: auto;
    width: 69vw;
    position: relative;
    margin: 5vh;
  }

  .bar.google {
    width: 294px;
  }

  .bar.dropbox {
    width: 294px;
  }

  .bar-name {
    font-size: 2em;
  }


  .chart-title {
    font-size: 1.5em;
    margin: 40px 0 10px 0;
    text-align: left;
  }


  .chart-title.thousand {
    width: 1000px;
    margin: 20px auto 10px auto;
  }

  .caption {
    width: 600px;
    font-size: 1.3em;
  }

  .grid2x2 {
    padding-top: 68vh;
    width: 70vw;
    margin: auto;
  }

  .grid2x2.fourth {
    padding-top: 0;
    width: 70vw;
    margin: auto;
  }

  .grid2x2 > div {
    display: flex;
    flex-basis: calc(23%);
    justify-content: flex-start;
    flex-direction: column;
  }

  .bar-percent {
    font-size: 1.5em;
  }

  .bar-problem {
    font-size: 1.5em;
    line-height: 1.2;
    margin-top: -1em;
  }


  .competitor {
    margin-top: -1.5em;
    width: 200px;
  }

  .bar-text {
    font-size: 1.2em;
    line-height: 1.2;
  }

  .single-img {
    margin: 40px 0;
  }


  .feature {
    font-size: 1.5em;
  }

  .feature-text {
    font-size: 1.2em;
  }

  .feature-box {
    padding: 10%;
  }


  .case-sections {
    width: auto;
    padding: 7vh 10vw;
  }

  .test-row {
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .test-col {
    padding: 40px 5px;
  }

  .test-col > img {
    width: 100%;
  }

  .test-col >img.arrow {
    width: 50px;
    padding: 40px;
    transform: none;
  }

  .arrow {
    width: 50px;
  }

  .brand-svg {
    padding: 40px 0;
    width: 600px;
    margin: auto;
  }

  .case-sections > p {
    width: 1000px;
  }

  .box {
    margin: 0 2.5%;
    border-radius: 10px;
  }

  p {
    color: #817872;
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
    margin: auto;
    text-align: left;
    line-height: 1.5;
  }

  #skylake-hero {
    height: 90vh;
    width: auto;
    padding-top: 0;
  }

  #fourthwave-hero {
    height: 80vh;
    width: auto;
    padding-top: 4vh;
  }


  .header-container {
    height: 90vh;
  }

  .chart {
    display: grid;
    grid-template-rows: repeat(100, 1fr);
    grid-column-gap: 2%;
    height: 40vh;
    margin-top: -10vh;
    margin-left: 0;
  }

  .chart.fourth {
    height: 40vh;
    margin-top: 2vh;
  }


  .chart.pain {
    height: 40vh;
    margin-top: -10vh;
  }

  .dropdown .dropbtn {
    font-size: 1.3em;
    padding: .25em .5em;
  }

  .about-header p {
    padding-top: 1em;
    font-family: RNSSanz-Extrabold, sans-serif;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5;
  }

  .about-header h4 {
    width: 650px;
    margin: 40px auto;
    line-height: 1.5;

}

  .proj-desc {
    font-size: 1.5em;
  }

  .forming button {
    width: 20vw;
  }
  .about-header {
    padding-top: 100px;
  }


  .scrolltop {
  	bottom:10px;
  	right:10px;
  }

  .scroll {
  	right:10px;
  	bottom:10px;
  }

  table.conclusions li {
    padding: 5px 0;
  }


  .cd-fixed-bg {
  margin: 40px 0;
  min-width: 80vw;
  min-height: 80vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.cd-fixed-bg.cd-fixed-bg--1 {
  background-image: url("../images/wireframe/fourth-lofi-iso.png");
}

.cd-fixed-bg.cd-fixed-bg--2 {
  background-image: url("../img/cd-background-2.jpg");
}

.cd-fixed-bg.cd-fixed-bg--3 {
  background-image: url("../img/cd-background-3.jpg");
}

.cd-fixed-bg.cd-fixed-bg--4 {
  background-image: url("../img/cd-background-4.jpg");
}

.cd-scrolling-bg {
  min-height: 100%;
}

}
